:root {
    --main-color: #e50914;
    --border: 10px solid #222;
    --padding: 60px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 700px;
        overflow: hidden;
    }
}

/* 
Medium  */
@media (min-width: 992px) {
    .container {
        width: 942px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}

nav .container {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    z-index: 3;
}

nav span {
    width: 80%;
    margin-left: 40px;
}


nav img {
    width: 150px;
}

@media (max-width:1207px) {
    nav span {
        width: 70%;
    }
}

@media (max-width:850px) {
    nav span {
        width: 60%;
    }

    nav img {
        width: 120px;
    }
}

@media (max-width:630px) {
    nav span {
        width: 32%;
        margin-left: 0;
    }

    nav img {
        width: 90px;
    }
}

nav select {
    background: none;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 3px;
    color: white;
}

nav select option {
    background-color: rgba(0, 0, 0, 0.332);
}

nav li {
    margin-left: 20px;
    background-color: var(--main-color);
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 18px;
}

nav li a {
    color: white;
}

.landing {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 80vh;
    position: relative;
    border-bottom: var(--border);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.landing::before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0% 10%, rgba(0, 0, 0, 0.5) 15% 80%, rgba(0, 0, 0, 0.8) 85% 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    max-width: 100%;
}

.landing .text h2 {
    font-size: 60px;
    margin-block-end: 10px;
}

.landing .text p {
    font-size: 20px;
    margin-top: -5px;
}

@media (max-width:685px) {
    .landing::before {
        height: calc(100% + 1px);
    }

    .landing .text h2 {
        font-size: 25px;
    }

    .landing .text p {
        font-size: 17px;
    }
}

.landing .text p:nth-of-type(1) {
    margin-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}


input {
    width: 450px;
    height: 50px;
    padding: 10px 10px 0 10px;
    font-size: 18px;
}

label {
    position: absolute;
    color: rgba(0, 0, 0, 0.504);
    left: 35px;
    transition: 0.3s;
    display: block;
}


input:focus+label {
    transform: translateY(-20px);
    font-size: 13px;
}

@media (max-width:685px) {
    form {
        display: block;
    }

    input {
        width: 400PX;
        position: relative;
    }

    label {
        transform: translateY(-200%);
    }

    input:focus+label {
        transform: translateY(-325%);
    }
}

@media (max-width:685px) {
    .questions form {
        text-align: center;
    }
}

@media (max-width:450px) {
    input {
        width: 280PX;
    }

}

button {
    background-color: var(--main-color);
    color: white;
    height: 65px;
    width: 200px;
    font-size: 27px;
    border: 1px;
}

@media (max-width:685px) {
    .start {
        margin-top: 50px;
    }
}

svg {
    margin-left: 5px;
    font-size: 22px;
}

.error {
    position: absolute;
    color: var(--main-color);
    bottom: 0;
    transform: translateY(100%);
    left: 10px;
    font-size: 17px;
}

@media (max-width:685px) {
    .error {
        bottom: 110px;
    }
}

.enjoy {
    background: black;
    border-bottom: var(--border);
    padding: var(--padding) 0;
}

.enjoy .container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
}

@media (max-width:450px) {
    .enjoy .container {
        display: block;
    }
}

.enjoy .text h3 {
    font-size: 45px;
    font-weight: bold;
}

.enjoy .text p {
    font-size: 27px;
    line-height: 1.5;
}

@media (max-width:991px) {
    .enjoy .text {
        text-align: center;
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .enjoy .text h3 {
        font-size: 30px;
    }

    .enjoy .text p {
        font-size: 18px;
    }
}

.enjoy .video {
    position: relative;
}

.enjoy img {
    width: 95%;
    position: relative;
    z-index: 2;
}

.enjoy video {
    position: absolute;
    left: 13%;
    top: -9px;
    width: 73%;
    height: 100%;
}

.download {
    background: black;
    color: white;
    border-bottom: var(--border);
    padding: var(--padding) 0;
}

.download .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:992px) {
    .download .container {
        flex-direction: column-reverse;
    }
}

.download .image {
    position: relative;
}

.download .image img {
    width: 100%;
}

.download .container .boxshot {
    background-color: black;
    width: 58%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    padding: 9px 3px;
    align-items: center;
    bottom: 40px;
    left: 20%;
    border: 2px solid #333;
    justify-content: space-between;
}

@media (max-width:470px) {
    .download .container .boxshot {
        width: 75%;
        left: 10%;
    }
}

.download .container .boxshot img {
    height: 85px;
    width: 85px;
}

.download .container .boxshot div {
    width: 150px;
}

.download .container .boxshot p {
    margin-block-start: 0;
    font-size: 14px;
}

.download .container .boxshot p:nth-of-type(2) {
    color: #0071eb;
}

.download .container .text h2 {
    font-size: 40px;
}

.download .container .text p {
    font-size: 27px;
}

@media (max-width:767px) {
    .download .container .text h2 {
        font-size: 30px;
    }

    .download .container .text p {
        font-size: 19px;
    }
}

@media (max-width:992px) {
    .download .container .text {
        text-align: center;
    }
}

.watch {
    background: black;
    color: white;
    border-bottom: var(--border);
    padding: var(--padding) 0;
}

.watch .container {
    display: flex;
    align-items: center;
}

.watch .container h2 {
    font-size: 40px;
}

.watch .container p {
    font-size: 22px;
}

.watch .container .video {
    position: relative;
}

.watch .container .video img {
    z-index: 100;
    position: relative;
    max-width: 100%;
}

.watch .container .video video {
    position: absolute;
    width: 61%;
    position: absolute;
    left: 19%;
    height: 68%;
}

@media (max-width:992px) {
    .watch .container {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    .watch .container .text {
        text-align: center;
    }
}

@media (max-width:767px) {
    .watch .container .text h2 {
        font-size: 30px;
    }

    .watch .container .text p {
        font-size: 19px;
    }
}

.profile {
    background: black;
    border-bottom: var(--border);
    color: white;
    padding: var(--padding) 0;
}

.profile .container {
    display: flex;
    align-items: center;
}

@media (max-width:992px) {
    .profile .container {
        flex-direction: column-reverse;
    }
}

.profile .container img {
    width: 100%;
}

.profile .container .text {
    width: 60%;
}

.profile .container .text h2 {
    font-size: 40px;
}

.profile .container .text p {
    font-size: 23px;
}

@media (max-width:992px) {
    .profile .container .text {
        text-align: center;
        width: 100%;
    }
}

@media (max-width:767px) {
    .profile .container .text h2 {
        font-size: 30px;
    }

    .profile .container .text p {
        font-size: 19px;
    }
}

.questions {
    background: black;
    padding: var(--padding) 0;
    border-bottom: var(--border);
    color: white;
}

.questions .container>h1 {
    font-size: 40px;
    text-align: center;
}

.questions .container .box {
    width: 70%;
    margin: 0 auto 10px;
    padding: 5px 20px;
}

.questions .container .box .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    padding: 0px 20px;
    background-color: #303030;
    cursor: pointer;
    color: white;
    width: 100%;
    border: 1px;
}


.questions .container .box h2 {
    font-size: 26px;
}

.questions .container .box span {
    font-size: 50px;
    font-weight: 100;
}


@media (max-width:767px) {
    .questions .container .box .head h2 {
        font-size: 22px;
    }

    .questions .container .box {
        width: 85%;
    }
}

@media (max-width:425px) {
    .questions .container .box .head h2 {
        font-size: 15px;
    }
}

.questions .container .box p {
    font-size: 23px;
    background-color: #303030;
    padding: 20px;
    margin-top: -1px;
    display: none;
}

.questions .container p:nth-last-of-type(1) {
    margin: 0px 0 20px;
    text-align: center;
    font-size: 19px;
}

footer {
    background: black;
    padding: var(--padding) 0;
}

footer .container a {
    color: #737373;
}

footer .container>a {
    margin-bottom: 30px;
    display: block;
}

footer li {
    margin-bottom: 15px;
}

footer .container a:hover {
    text-decoration: underline;
}

footer .container .contact {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

footer select {
    background: none;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 3px;
    color: white;
}

footer select option {
    background-color: rgba(0, 0, 0, 0.332);
}

footer span {
    color: #737373;
    display: block;
    margin-top: 25px;
}